---
import Image from "./Image.astro";

const { imageSrc, imageAlt, employer, desc } = Astro.props;
---

<div class="card">
  <Image src={imageSrc} alt={imageAlt}>
    <slot />
  </Image>
  <p>{desc}</p>
  {employer && <span class="text-end">@{employer}</span>}
</div>

<style>
  .card {
    border-radius: 1rem;
    background: var(--secondary-black);
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .text-end {
    display: block;
    text-align: end;
    margin-top: auto;
    font-style: italic;
    color: #ffffff;
  }
</style>
