---
import Category from "../components/Category.astro";

const { datalist } = Astro.props;
---

<div class="icon-grid">
  {
    datalist.map((data: any, index: number) => (
      <div
        class={
          datalist.length % 2 !== 0 && index === datalist.length - 1
            ? "centered"
            : ""
        }
      >
        <Category header={data.header} skills={data.skills} />
      </div>
    ))
  }
</div>

<style>
  .icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .centered {
    display: flex;
    justify-content: center;
    grid-column: span 2;
  }

  @media (max-width: 600px) {
    .icon-grid {
      grid-template-columns: 1fr;
    }

    .centered {
      justify-content: center;
      grid-column: auto;
    }
  }
</style>
